/* Карточки */
.failed {
    background-color: var(--bg-darker-red) !important;
}

.finished {
    background-color: var(--bg-like-green) !important;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.card {
    background-color: var(--bg-common);
    border: var(--pixel-size) solid var(--common);
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.card-filler {
    width: 100%;
    height: 100%;
    opacity: 0.3;
    padding: 1rem;
}

.card-filler.new {
    animation: glowAsNew 3s infinite ease-in-out;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
    transform: translateX(-100%);
    transition: transform 0.5s ease, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 7px 20px var(--common);
}

.card:hover::before {
    transform: translateX(100%);
}

.card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.card-author {
    color: var(--text-secondary);
    font-size: 0.8rem;
}

.card-deadline {
    font-size: 0.8rem;
}

.card-text {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    line-height: 1.4;
}

@keyframes legendaryGlow {
    0%, 100% {
        background-color: #352c14;
        border-color: #9a7d0a;
        box-shadow: 0 0 22px #9a7d0a, 0 0 10px rgba(255, 255, 255, 0.4);
    }
    16%, 66% {
        background-color: #362d16;
        border-color: #d4ac0d;
        box-shadow: 0 0 22px #d4ac0d, 0 0 10px rgba(250, 250, 250, 0.3);
    }
    32%, 83% {
        background-color: #372e16;
        border-color: #f4d03f;
        box-shadow: 0 0 22px #f4d03f, 0 0 10px rgba(220, 220, 220, 0.2);
    }
    50% {
        background-color: #382f17;
        border-color: #f9e79f;
        box-shadow: 0 0 22px #f9e79f, 0 0 10px rgba(200, 200, 200, 0.1);
    }
}

@keyframes glowAsNew {
    0%, 100% {
        background: linear-gradient(135deg, #555, #eee, #aaa);
    }
    20% {
        background: linear-gradient(150deg, #555, #eee, #aaa);
    }
    40% {
        background: linear-gradient(180deg, #555, #eee, #aaa);
    }
    50% {
        background: linear-gradient(210deg, #555, #eee, #aaa);
    }
    60% {
        background: linear-gradient(250deg, #555, #eee, #aaa);
    }
    80 % {
        background: linear-gradient(300deg, #555, #eee, #aaa);
    }
}
