{% for quest in quests %}
  <div class="card {{get_class(quest.rarity)}} {{get_class(quest.status)}}"
       onclick="openModal({{quest.id}})" id="quest_card_{{quest.id}}">
      <div class="card-filler {% if quest.is_new %}new{% endif %}">
        <div class="card-header">
            <div class="card-title">{{quest.title}}</div>
            <div class="card-deadline">⏱ {{quest.deadline.strftime('%d.%m.%Y %H:%M') if quest.deadline else "бессрочно"}}</div>
        </div>
        <div class="card-author">От: {{quest.author}}</div>
        <div class="card-text">{{quest.description}}</div>
      </div>
  </div>
{% endfor %}