{% extends "base.html" %}
{% block content %}
<script src="{{ url_for('static', path='/js/create.js') }}" defer></script>
<h2 class="modal-title">Создать новый квест</h2>

<form action="/create" method="post" class="form" id="questForm" enctype="multipart/form-data">
    <div class="form-group">
        <label for="questTitle">Название:</label>
        <input type="text" id="questTitle" maxlength="64" required class="pixel-input" name="title">
        <div class="char-counter"><span id="titleCounter">0</span>/64</div>
    </div>

    <div class="form-group">
        <label for="questAuthor">Автор:</label>
        <input type="text" id="questAuthor" maxlength="64" class="pixel-input" name="author">
        <div class="char-counter"><span id="authorCounter">0</span>/64</div>
    </div>

    <div class="form-group">
        <label for="questDescription">Описание:</label>
        <textarea id="questDescription" rows="4" required class="pixel-textarea" name="description"></textarea>
    </div>

    <div class="form-group">
        <label for="questDeadline">Дедлайн:</label>
        <div class="datetime-inputs">
            <input type="date" id="questDeadlineDate" class="pixel-input" name="deadline_date">
            <input type="time" id="questDeadlineTime" class="pixel-input" name="deadline_time">
        </div>
    </div>

    <div class="form-group">
        <label for="questType">Тип квеста:</label>
        <select id="questType" class="pixel-select" name="rarity">
            <option>Обычный</option>
            <option>Необычный</option>
            <option>Редкий</option>
            <option>Эпический</option>
            <option>Легендарный</option>
        </select>
    </div>

    <div class="checkboxes-container">
        <label>Подзадачи:</label>
        <div id="subtasksList"></div>
        <div class="add-subtask-buttons">
            <button type="button" id="addCheckbox" class="add-subtask">Добавить чекбокс</button>
            <button type="button" id="addNumeric" class="add-subtask">Добавить числовую цель</button>
        </div>
    </div>

    <button type="submit" class="pixel-button">Создать квест</button>
</form>
{% endblock %}
